body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.blue {
  border-width: 1px;
  border-color: #523ade;
  background-image: url("./Assets/blue-agent.png");
  background-size: cover;
}

.red {
  border-width: 1px;
  border-color:#e32929;
  background-image: url("./Assets/red-agent.png");
  background-size: cover;
}

.bystander {
  border-width: 1px;
  background-image: url("./Assets/bystander.png");
  background-size: contain;
}

.assasin {
  border-width: 1px;
  background-image: url("./Assets/assasin.png");
  background-size: cover;
}

.double-agent {
  border-width: 1px;
  background-image: url("./Assets/bystander.png");
  background-size: cover;
}

.unrevealed {
  border-color: #706e66;
  border-width: 1px;
  background-image: url("./Assets/unrevealed.jpg");
  background-size: cover;
}

.card {
  transform: skewX(-2deg);
  display: flex;
  flex-flow: column-reverse;
  height: 80px;
  background-color: #eddfa6;
  min-width: 120px;
  border-radius: 5px;
  border-style: solid;
  padding: 5px;
  margin: 10px;
}

.word {
  border-radius: 5px;
  background-color:white;
  text-transform: uppercase;
  font-style: italic;
}

.gameTileRow {
  display: flex;
  flex-direction: row;
}

.gameBoard {
  display: flex;
  flex-direction: column;
  align-items: center;
}