body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card {
  height: 70px;
  width: 70px;
  border-radius: 5px;
  border-width: 5px;
  border: lightcoral;
  padding: 5px;
  margin: 5px;
  background-color:pink;
}

.gameTileRow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gameBoard {
  display: block;
  align-items: center;
}